<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/ec64859a5d.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer type="module" src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node.js chat</title>
    <script>
      window.onload = () => {
        document
          .getElementById("add-room-button")
          .addEventListener("click", e => {
            let form = document.getElementById("new-room-form");
            let button = document.querySelector("#add-room-button i");
            if (form.classList.contains("hidden")) {
              form.classList.remove("hidden");
              button.classList.remove("fa-plus");
              button.classList.add("fa-minus");
            } else {
              form.classList.add("hidden");
              button.classList.remove("fa-minus");
              button.classList.add("fa-plus");
            }
          });

        document.getElementById('toggle-menu').addEventListener("click", e => {
            let nav = document.querySelector('nav');
            if(nav.classList.contains('nav-open')){
                nav.classList.remove('nav-open');
                nav.classList.add('nav-close');
            }else{
                nav.classList.remove('nav-close');
                nav.classList.add('nav-open');
            }
        });
      };
    </script>
  </head>
  <body>
    <header>
      <h1>Available rooms</h1>
      <div id="toggle-menu" class="right">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <nav class="nav-close">
        <ul>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
    <ul id="rooms-list"></ul>
    <form id="new-room-form" class="hidden">
      <h1>Create new room</h1>
      <input type="text" name="room" id="new-room-input" /><br>
      <button type="submit" class="right">Create</button>
    </form>
    <div id="add-room-button">
      <i class="fas fa-plus"></i>
    </div>
  </body>
</html>
