<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/ec64859a5d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node.js chat</title>
  </head>
  <body>
    <header>
      <h1>Register</h1>
    </header>
    <div id="login-container">
      <form id="login-form" action="/register" method="POST">
        <input type="text" name="name" id="name" placeholder="Username"/><br />
        <input type="password" name="password" id="password" placeholder="****"/><br />
        <button type="submit" class="primary-button right">Register</button>
        <a href="/login">Log in</a>
      </form>
    </div>
  </body>
</html>
